# Lazarus
*.exe
#*.dll
#*.lib
#*.so
*.a
*.o
*.or
*.ppu
*.bak
*.jpg
*.zip
*.db
*.bmp
*.txt
*.7z
*.ini
*.bat
*.dbg
*.ico
*.db3
*.db3.bak
*.db3.old
!PTK_ADMIN.FDB.7z
backup/
lib/
документация/
*.xls
data/шаблон/
data/out/
UPDATE/
DOCS/
*.FDB
*.htm
*.html
*.mht
*.pdf
